.what-we-do {
  padding: 4rem 2rem;
  background-color: white;

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }

  &__title {
    text-align: left; // Changed to left alignment
    font-size: 2.5rem;
    font-weight: 700;
    color: #111827;
    margin-bottom: 3rem;
    font-family: var(--font-manrope);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  &__card {
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 157.5%; 
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }

  &__card:hover &__image {
    transform: scale(1.05);
  }

  &__image-overlay {
    backdrop-filter: blur(5px);
    background: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), hsla(0, 0%, 100%, .1);
    bottom: 0;
    justify-content: center;
    min-height: 82px;
    padding: 8px 20px;
    position: absolute;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    text-align: left; 
  }

  &__card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: var(--font-inter);
    text-decoration-color: rgba(255, 255, 255, 0.5);
    display: block;
    text-decoration: none;
    background-image: linear-gradient(white,);
    background-size: 100% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;

    .what-we-do__card:hover & {
        background-size: 0% 0.1em;
    }
  }

  &__card-description {
    font-size: 0.875rem;
    color: #e5e7eb;
    font-family: var(--font-inter);
    margin: 0;
    display: block;
  }
}


@media (max-width: 960px) {
  .what-we-do {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .what-we-do {
    padding: 3rem 1rem;

    &__title {
      font-size: 2rem;
    }

    &__card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-family: var(--font-inter);
    display: block;
    text-decoration: none;
    background-image: none;
    background-size: 0;
    background-position-x: 0%;
    background-repeat: no-repeat;
    }

    &__cards {
      grid-template-columns: repeat(2,1fr)
    }

    &__image-overlay {
      height: auto;
      padding: 2rem 1.5rem 1.5rem;
    }
  }
}